/* 全域 */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-font-family: "Inter", sans-serif;
    --main-color: #D9D9D9;
    --secondary-color: #EFEFEF;
}

a {
    color: inherit;
    text-decoration: none;
}

body {
    font-family: var(--main-font-family);
}

header {
    background-color: var(--main-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 15px;

}

.logo {
    border: 1px solid black;
    text-align: center;
    padding: 15px 40px;
    font-size: 36px;

}

.bar {
    font-size: 40px;
}

.navbar {
    width: 100%;
}

.menu-list {
    list-style: none;
}

.menu-list li {
    text-align: center;
    padding: 10px;
    font-size: 20px;
}

/* ============
Title1&Celebrity 
==============*/
.container1,
.container2,
.container3 {
    width: 80%;
    margin: auto;
    padding: 1.875rem 0;
}

.celebrity {
    font-size: .875rem;
    margin-bottom: .625rem;
}

.h1-1 {
    font-size: 1.25rem;
    font-weight: normal;
}

/* ============
   Animation
==============*/
.circle1 {
    border-radius: 100%;
    border: 15px solid #bc7036;
    width: 450px;
    height: 450px;
    position: absolute;
    top: 10%;
    left: 70%;
    z-index: -1;
    animation: circle1 10s infinite;
}

@keyframes circle1 {
    0% {
        transform: translate(0, 0);
        border-color: #bc7036;
    }

    40% {
        transform: translate(0, 50px);
        border-color: #f6b07b;
    }

    70% {
        transform: translate(-30px, 0);
        border-color: #f9a666;
    }

    100% {
        transform: translate(0, 0);
        border-color: #bc7036;
    }
}

.circle2 {
    border-radius: 100%;
    border: 10px solid #f08ef0;
    width: 150px;
    height: 150px;
    position: absolute;
    top: 40%;
    left: 60%;
    z-index: -1;
    animation: circle2 10s infinite;
}

@keyframes circle2 {
    0% {
        transform: translate(0, 0);
        border-color: #f08ef0;
    }

    40% {
        transform: translate(40px, -30px);
        border-color: #f5a0f5;
    }

    70% {
        transform: translate(-30px, -50px);
        border-color: #f5a0f5;
    }

    100% {
        transform: translate(0, 0);
        border-color: #f08ef0;
    }
}

.square {
    background-color: #98F053;
    width: 100px;
    height: 100px;
    z-index: -1;
    position: absolute;
    top: 45%;
    left: 10%;
    animation: square 10s infinite linear;
}

@keyframes square {
    0% {
        transform: rotate(0deg);
        background-color: pink;
    }

    25% {
        transform: rotate(90deg);
        border-radius: 100%;
        background-color: orange;
    }

    50% {
        transform: rotate(180deg);
        border-radius: 0 100% 100% 0;
        background-color: tomato;
    }

    75% {
        transform: rotate(270deg);
        border-radius: 50% 50% 60% 60% / 60% 60% 40% 40%;
        background-color: gray;
    }

    100% {
        transform: rotate(360deg);
        background-color: pink;
    }
}

/* ============
Photo&About
==============*/
.photo1 {
    background: url(../imgs/designer.jpg) no-repeat;
    background-position: 60% 40%;
    width: 50%;
    height: 25rem;
    margin: auto;
    margin-bottom: 1.25rem;
    overflow: hidden;
    box-shadow: -0.9375rem .9375rem 0 #FFB2B2;
}

.about {
    width: 95%;
    margin: auto;
    padding-bottom: 1.25rem;
}

.text1 {
    width: 100%;
    padding: 1.5625rem 0;
}

.p1 {
    font-size: 1.25rem;
    padding-bottom: .625rem;
}

.p2 {
    font-size: .875rem;
    padding-bottom: .625rem;
    line-height: 1.5625rem;
}

.school {
    width: 100%;
}

h2 {
    font-weight: normal;
    font-size: 1.25rem;
    padding-bottom: .625rem;
}

.school {
    padding-bottom: 1.25rem;
}

.degree {
    background-color: var(--secondary-color);
    padding: .625rem;
    margin-bottom: 1.25rem;
    border-radius: .625rem;
}

.p3 {
    font-size: 1rem;
    padding-bottom: .625rem;
}

.p4 {
    font-size: .875rem;
    color: #615D5D;
}

.skill-list {
    list-style: none;
}

.skill-list li {
    display: flex;
    margin-bottom: 1.25rem;
    justify-content: space-between;
}

.skill-name {
    font-size: 1.125rem;
}

.skill-bar {
    width: 12.5rem;
    display: inline-block;
    height: 1.25rem;
    background-color: var(--main-color);
    box-shadow: 0px .125rem .125rem rgba(0, 0, 0, 0.25) inset;
    border-radius: 3.125rem;
    position: relative;
}

.skill-percent {
    height: 1.125rem;
    border-radius: 3.125rem;
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: .8125rem;
}

.skill-html {
    width: 90%;
    background: linear-gradient(to right, #98F053, #31C840);
    animation: loading1 2s ease-out forwards;
}

@keyframes loading1 {
    0% {
        width: 0%;
    }

    100% {
        width: 90%;
    }
}

.skill-css {
    width: 85%;
    background: linear-gradient(to right, #D32B2B, #EC9696);
    animation: loading2 2s ease-out forwards;
}

@keyframes loading2 {
    0% {
        width: 0%;
    }

    100% {
        width: 85%;
    }
}

.skill-js {
    width: 60%;
    background: linear-gradient(to right, #53CAF0, #315BC8);
    animation: loading3 2s ease-out forwards;
}

@keyframes loading3 {
    0% {
        width: 0%;
    }

    100% {
        width: 60%;
    }
}

.skill-php {
    width: 40%;
    background: linear-gradient(to right, #F8A80D, #FDCD70);
    animation: loading4 2s ease-out forwards;
}

@keyframes loading4 {
    0% {
        width: 0%;
    }

    100% {
        width: 40%;
    }
}

.skill-mysql {
    width: 30%;
    background: linear-gradient(to right, #BE53F0, #E49EFD);
    animation: loading5 2s ease-out forwards;
}

@keyframes loading5 {
    0% {
        width: 0%;
    }

    100% {
        width: 30%;
    }
}

/* ============
   Experience 
==============*/
.section3 {
    background-color: var(--main-color);
}

.Exp {
    font-size: 2.25rem;
    font-weight: normal;
    padding: 3.125rem;
    text-align: center;
}

.Exp-list {
    list-style: none;
}

.Exp-list li {
    border-bottom: 1px solid black;
    /* position: relative; */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 120px;
    gap: .9375rem;
    padding: 20px 1.25rem 0 1.25rem;
    align-items: center;
    text-align: center;
}

.work-period {
    font-size: .875rem;
    width: 45%;

}

.company-name {
    font-size: 1.25rem;
    width: 45%;
}

.job-title {
    font-size: 1rem;
    padding-top: .625rem;
    width: 45%;
}

.company-logo1 {
    background: url(../imgs/amazon.png);
    width: 50px;
    height: 50px;
    background-size: cover;
    border-radius: 100%;
    display: block;
    justify-content: center;
}

.company-logo2 {
    background: url(../imgs/apple.png);
    width: 50px;
    height: 50px;
    background-size: cover;
    border-radius: 100%;
}

.company-logo3 {
    background: url(../imgs/meta.png);
    width: 50px;
    height: 50px;
    background-size: cover;
    border-radius: 100%;
}

.company-logo4 {
    background: url(../imgs/microsoft.png);
    width: 50px;
    height: 50px;
    background-size: cover;
    border-radius: 100%;
}

/* .company-logo img {
    width: auto;
    height: 50%;
    position: absolute;
    right: 20px;
    bottom: 30px;
    border-radius: 100%;
} */

/* ============
   Portfolios
==============*/
.section4 {
    background-color: var(--secondary-color);
}

.por {
    font-size: 2.25rem;
    font-weight: normal;
    padding: 3.125rem;
    text-align: center;
}

.grid-container {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(2, 49%);
    grid-template-rows: repeat(4, 200px);
    gap: 10px;
    padding: 20px 0 80px 0;
    margin: auto;
}

.grid-item1 {
    background: url(../imgs/people1.jpg) no-repeat;
    background-size: cover;
    background-position: center;

}

.grid-item2 {
    background: url(../imgs/people2.jpg) no-repeat;
    background-size: cover;
    background-position: center bottom;
}

.grid-item3 {
    background: url(../imgs/photo1.jpg) no-repeat;
    background-size: cover;
}

.grid-item4 {
    background: url(../imgs/photo3.jpg) no-repeat;
    background-size: cover;
    background-position: right bottom;
}

.grid-item5 {
    background: url(../imgs/photo2.jpg) no-repeat;
    background-size: cover;
}

.grid-item6 {
    background: url(../imgs/japan1.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.grid-item7 {
    background: url(../imgs/sea.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.grid-item8 {
    background: url(../imgs/japan.jpg) no-repeat;
    background-size: cover;
    background-position: center top;
}

/* ============
   Contect me
==============*/
.section5 {
    background: linear-gradient(to bottom, #BE53F0, #E49EFD);
}

.container5 {
    width: 90%;
    margin: auto;
    padding: 1.875rem 0;
}

.text2 {
    width: 100%;
    text-align: center;
}

.contect-me {
    font-size: 2.25rem;
    font-weight: normal;
    text-shadow: 0 4px 4px rgb(0, 0, 0, 0.25);
    padding-bottom: 10px;
}

.p5 {
    color: white;
}

.contect-list {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.contect-icon1 {
    background: url(../imgs/location-dot-solid-full.svg) no-repeat;
}

.contect-icon2 {
    background: url(../imgs/phone-solid-full.svg) no-repeat;
}

.contect-icon3 {
    background: url(../imgs/envelope-solid-full.svg) no-repeat;
}

.contect-icon1,
.contect-icon2,
.contect-icon3 {
    background-size: cover;
    width: 25px;
    height: 25px;
    margin-right: 10px;
    margin-bottom: 5px;

}

.p6 {
    color: white;
    padding-bottom: 10px;
}

form {
    width: 100%;
    background-color: #FFFFFF;
    border-radius: .625rem;
    border: 1px solid #F1F1F1;
    box-shadow: 4px 4px 10px rgb(0, 0, 0, 0.25);
    padding: 20px;
}

label,
input,
textarea {
    display: block;
    width: 80%;
    margin: auto;
    padding: 10px;
}

input {
    height: 50px;
}

input,
textarea {
    padding: 8px;
    background-color: #EEEEEE;
    border-radius: 10px;
    border: none;
}

textarea {
    resize: none;
}

/* ============
   Footer
==============*/
footer {
    background-color: var(--main-color);
    padding: 1.875rem;
    text-align: center;
}

/**** 電腦 ****/
@media screen and (min-width:1024px) {
    header {
        height: 115px;
        padding: 0;
    }

    .logo {
        padding: 20px 80px;
        margin-left: 20px;
    }

    .logo:hover {
        background-color: #615D5D;
    }

    .bar {
        display: none
    }

    .navbar {
        width: 60%;
        height: 100%;
    }

    .menu-list {
        display: flex;
        flex-direction: row;
        list-style: none;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    .menu-list li {
        height: 100%;
        font-size: 24px;
        text-align: center;
        display: flex;
        align-items: center;
        padding: 20px 30px;
    }

    .menu-list li:hover {
        background-color: #615D5D;
    }

    /* ============
Title1&Celebrity 
==============*/
    .container1 {
        width: 70%;
        padding: 6.25rem 0;
    }

    .celebrity {
        font-size: 3rem;
    }

    .h1-1 {
        font-size: 4rem;
    }

    .triangle {
        position: absolute;
        top: 10%;
        left: 0;
        width: 0;
        height: 0;
        z-index: -1;
        border-left: 200px solid transparent;
        border-right: 200px solid transparent;
        border-bottom: 300px solid #9DEBDD;
        animation: triangle 15s infinite;
    }

    @keyframes triangle {
        0% {
            transform: translate(0, 0) rotate(0deg);

        }

        50% {
            transform: translate(0, -20px) rotate(180deg);
        }

        100% {
            transform: translate(0, 0) rotate(360deg);
        }
    }

    /* ============
Photo&About
==============*/
    .container2 {
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        width: 70%;
    }

    .photo1 {
        width: 30%;
        margin: 0;
    }

    .about {
        background-color: #FFE3E3;
        width: 45%;
        padding: 0 1.5rem;

    }

    .skill-list {
        width: 70%;
    }

    /* ============
   Experience 
==============*/
    .Exp-list li {
        flex-wrap: nowrap;
        flex-direction: row;
        height: 100px;
        gap: 20px;
        justify-content: center;
    }

    .work-period,
    .company-name,
    .job-title {
        width: 15%;
    }


    .company-logo img {
        bottom: 5px;
        right: 700px;
        height: 50px;

    }

    /* ============
   Portfolios
==============*/
    .grid-container {
        grid-template-columns: repeat(4, 24%);
        grid-template-rows: repeat(3, 200px);
    }

    .grid-item1,
    .grid-item2,
    .grid-item3,
    .grid-item4,
    .grid-item5,
    .grid-item6,
    .grid-item7,
    .grid-item8 {
        transition: transform 0.5s linear;
    }

    .grid-item6 {
        background-position: center 15%;
    }

    .grid-item1:hover {
        transform: scale(1.05)
    }

    .grid-item2:hover {
        transform: scale(1.05)
    }

    .grid-item3:hover {
        transform: scale(1.05)
    }

    .grid-item4:hover {
        transform: scale(1.05)
    }

    .grid-item5:hover {
        transform: scale(1.05)
    }

    .grid-item6:hover {
        transform: scale(1.05)
    }

    .grid-item7:hover {
        transform: scale(1.05)
    }

    .grid-item8:hover {
        transform: scale(1.05)
    }

    .merged-1 {
        grid-column: 2;
        grid-row: 1 / 3;
    }

    .merged-2 {
        grid-column: 3 / 5;
        grid-row: 2 / 4;
    }

    /* ============
   Contect me
==============*/
    .container5 {
        display: flex;
    }

    .word {
        margin-right: 100px;
        width: 30%;
    }

    .text2 {
        padding: 1.25rem;
    }

    .contect-list li {
        justify-content: center;
        padding-right: 1.875rem;
    }

    .p6:hover {
        color: rgb(233, 233, 233);
    }

    input:hover {
        background-color: #d5c7c7;
    }

    textarea:hover {
        background-color: #d5c7c7;
    }
}